<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to My Flask App</h1>
    <p>This is the home page.</p>

    <iframe src="https://bab.eu.qlikcloud.com/single/?appid=128e68e8-823d-466c-8014-7670b7ee53b7&obj=QhcRwdn&theme=card&opt=ctxmenu,currsel&select=$::DataType,UK&select=$::Sales%20Stat%20Classification,New%20Business&select=$::Customer%20Is%20PAS%20Flag,MS%20Client&select=$::Calendar%20Year,2024&select=$::Calendar%20Month,11" style="border:none;width:100%;height:100%;"></iframe>

</body>
</html>
